[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/we2
ExecStart=/home/we2/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock we2.wsgi:application

[Install]
WantedBy=multi-user.target