{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}" {% if lang == 'fa' %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Welcome" %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div class="ls-container">
        <div class="ls-logo">
            <img src="{% static 'images/we2me2-logo.png' %}" alt="Main Logo">
        </div>

        <div class="ls-content">
            <h1>{% trans "Welcome to We Too" %}</h1>
            <p>{% trans "A safe space for survivors of domestic violence to connect, share, and heal." %}</p>
        </div>

        <div class="ls-buttons">
            <a href="{% url 'user:login' %}" class="ls-button primary-button">{% trans "Sign in" %}</a>
            <a href="{% url 'user:signup-process' %}" class="ls-button secondary-button">{% trans "Sign up" %}</a>
        </div>
    </div>

</body>
</html>