{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
</head>
<body>

    <div class="ls-container">
        <div class="ls-logo">
            <img src="{% static 'images/we2me2-logo.png' %}" alt="Main Logo">
        </div>

        <div class="ls-content">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="ls-buttons">
            <a href="{% url 'user:login' %}" class="ls-button primary-button">Sign in</a>
            <a href="{% url 'user:signup-process' %}" class="ls-button secondary-button">Sign up</a>
        </div>
    </div>

</body>
</html>